:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark; /* Enable light/dark mode */
  background-color: #ffffff;

  font-synthesis: none; /* Disable system font synthesis */
  text-rendering: optimizeLegibility; /* Optimize for readability */
  -webkit-font-smoothing: antialiased; /* Antialias text */
  -moz-osx-font-smoothing: grayscale; /* Antialias text */

  /* Colores de la pagina */
  --transparente: #00000000;
  --blanco: #ffffff;
  --negro: black;
  --gris: #f5f5f5;

  --morado: #8306ad;
  --moradoclaro: #a5a6f6;
  --verdeclaro: #63c07c;
  --naranjaclaro: #f9a86d;
  --rosaclaro: #f4537c;
  --verdementa: #7ed2b9;

  --morado-hover: #6b0490; 
  --moradoclaro-hover: #8e8fff; 
  --verdeclaro-hover: #4ca367; 
  --naranjaclaro-hover: #e58b54; 
  --rosaclaro-hover: #d14269; 
  --verdementa-hover: #64b89e; 

  --morado-hover-light: #a56cd1; 
  --moradoclaro-hover-light: #c0bffd; 
  --verdeclaro-hover-light: #89d4a3; 
  --naranjaclaro-hover-light: #fbc199; 
  --rosaclaro-hover-light: #fa718d; 
  --verdementa-hover-light: #a0e5d0; 
}

body {
  margin: 0;
}

/* Colores cardLanding# */
#cardLanding1 {
  color: var(--blanco);
  background-color: var(--morado);
  box-shadow: 5px 5px 15px rgba(131, 6, 173, 0.5);
}

#cardLanding1:hover {
  background-color: var(--morado-hover);
}

#cardLanding2 {
  color: var(--blanco);
  background-color: var(--moradoclaro);
  box-shadow: 5px 5px 15px rgba(165, 166, 246, 0.5);
}

#cardLanding2:hover {
  background-color: var(--moradoclaro-hover);
}

#cardLanding3 {
  color: var(--blanco);
  background-color: var(--verdeclaro);
  box-shadow: 5px 5px 15px rgba(99, 192, 124, 0.5);
}

#cardLanding3:hover {
  background-color: var(--verdeclaro-hover);
}

#cardLanding4 {
  color: var(--blanco);
  background-color: var(--naranjaclaro);
  box-shadow: 5px 5px 15px rgba(249, 168, 109, 0.5);
}

#cardLanding4:hover {
  background-color: var(--naranjaclaro-hover);
}

#cardLanding5 {
  color: var(--blanco);
  background-color: var(--rosaclaro);
  box-shadow: 5px 5px 15px rgba(244, 83, 124, 0.5);
}

#cardLanding5:hover {
  background-color: var(--rosaclaro-hover);
}

#cardLanding6 {
  color: var(--blanco);
  background-color: var(--verdementa);
  box-shadow: 5px 5px 15px rgba(126, 210, 185, 0.5);
}

#cardLanding6:hover {
  background-color: var(--verdementa-hover);
}